h1 {
  color: rgb(30, 24, 157);
  background-color: rgb(240, 135, 196);
}

p {
  text-align: justify;
}

article {
  border: 1px solid rgb(210, 41, 212);
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  background-color: rgb(226, 163, 249);
}

.row-even {
  background-color: rgb(208, 180, 185);
  color: rgb(8, 31, 2);
}

.row-odd {
  background-color: rgb(186, 224, 56);
  color: rgb(34, 6, 21);
}

.pullquote {
  color: red;
  border: 1px solid #666;
  padding: 3px;
  font-size: 20pt;
  background-color: rgb(100, 53, 135);
  float: right;
  margin: 0 0 10px 10px;
  padding: 2px;

}
