table {
  width: 100%;
}

table.task-table {
  background-color: red;
  height: 100%;
  border-radius: 20px;
}

table.task-table:hover {
  background-color: blue;
  height: 100%;
  border-radius: 20px;
}

tr.task-number {
  color: white;
  text-align: center;
}

tr.task-text {
  color: yellow;
  text-align: left;
}

td {
  vertical-align: top;
  width: 10%;
}

div {
  background-color: yellow;
  margin: 5px;
  padding: 3px;
  border: 3px solid blue;
  height: 100px;
  border-radius: 15px;
}

div:hover {
  background-color: green;
}



tr.head {
  background-color: grey;
}
