* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(154, 180, 147);
  font-family: Verdana, Arial;
}

div#logo {
  visibility:hidden;
  height: 0;
}

.page-wrapper {
  background-color: rgb(0, 54, 18);
}

.main-menu {
  display: flex;
}

li.main-menu-item {
  list-style: none;
  margin-left: 20px;
}

div.main-menu-item {
  height: 43px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

div.main-menu-item a {
  text-decoration: none;
  color: white;
}

#link_logo {
  text-decoration: none;
  color: #b6ffb0;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14pt;
}

.main-menu-item:hover {
  background-color: rgb(0, 22, 6);
}


/* useful-links */
div.useful-link {
  border: 1px solid green;
  padding: 5px;
  margin-top: 5px;
  background-color: rgb(169, 250, 177);
}

div.useful-link:hover {
  background-color: rgb(247, 255, 186);
  transition-duration: 1s;
}
/* /useful-links */
